ul {
  list-style: none;
  padding: 0;
}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    padding-bottom: 33px;
  }
}
