.header__link {
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #a9a9a9;
  cursor: pointer;
  line-height: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .header__link {
    padding-right: 30px;
    font-size: 14px;
    line-height: normal;
  }
}
