.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
}

.header__navbar-burger {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
}
.header__navbar-burger:target {
  max-height: auto;
}

.header__navbar-burger_opened {
  max-height: 142px;
  transition: max-height 0.25s ease-in;
}

.header__navbar-burger_open {
  padding: 12px 0 40px;
  margin-bottom: 29px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 600px) {
  .header__navbar-menu {
    flex-direction: column;
  }
  .header__navbar {
    display: none;
  }
}

.header__burger {
  width: 20px;
  height: 20px;
}
