.header__burger {
  display: none;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .header__burger {
    display: block;
    cursor: pointer;
    padding-right: 30px;
  }
}
