.header__navbar-burger {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
}
.header__navbar-burger:target {
  max-height: auto;
}

@media screen and (min-width: 600px) {
  .header__navbar-burger {
    display: none;
  }
}
